*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #ffffff;
	font-family: 'Open Sans';
}

header {
	background: #6c63ff;
}

.header-container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	margin: 0 auto;
	padding: 1rem;
	max-width: 960px;
}

.menu li {
	list-style-type: none;
}

.menu li a {
	color: #ffffff;
	text-decoration: none;
	font-family: inherit;
	font-weight: 300;
	letter-spacing: .5px;
}

header h1 {
	font-family: inherit;
	font-size: 1.75rem;
	font-weight: 300;
	letter-spacing: 1px;
	color: #ffffff;
}

main {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	height: 660px;
	padding: 0 1rem;
}

.container {
	display: block;
	width: 540px;
	text-align: center;
}

#password-field {
	display: block;
	margin: 0 auto;
	padding: 1rem 3rem;
	width: 100%;
	outline: none;
	border: none;
	border-bottom: 1px solid #777777;
	font-family: inherit;
	font-size: 1.5rem;
	font-weight: 300;
	text-align: center;
}

.buttons {
	margin: 3rem auto;
}

#generate-button,
#copy-button {
	display: inline-block;
	padding: 1rem 3rem;
	margin-bottom: 1rem;
	outline: none;
	border: none;
	background: #6c63ff;
	font-family: inherit;
	font-size: 1.25rem;
	font-weight: 300;
	letter-spacing: .5px;
	color: #ffffff;
}

p {
	line-height: 1.75;
	font-family: inherit;
	font-weight: 300;
	color: #777777;
}

#words {
	display: block;
	margin: 1rem 0;
	font-size: 1.5rem;
}

footer p { 
	margin: 0 auto;
}
































